{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        function set_openid(openid, pr) {
            u = openid.search('<username>')
            var user = null;
            if(u != -1){
                user = prompt('Enter your ' + pr + ' username:')
                if(user != null){
                    openid = openid.substr(0, u) + user
                    form = document.forms['login']
                    form.elements['openid'].value = openid;
                }
            }else{
                form = document.forms['login']
                form.elements['openid'].value = openid;
            }
        }
    </script>

    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            please enter you openID <br>
            {{ form.openid(size=80, style='color:red') }}<br>
            {% for error in form.openid.errors %}
                <span style="color:red;">{{ error }}</span>
                <br>
            {% endfor %}
            |{% for pr in providers %}
                <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}')">{{ pr.name }}</a>|
            {% endfor %}
        </p>
        <p>{{ form.remember_me }} Remember me <br></p>
        <p><input type="submit" value="Sign in"></p>
    </form>
{% endblock %}